.alert {
  color: #fff;
  background-color: #8970ef;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}
.alert-dismissible .close {
  position: static;
}
.cover {
  min-height: 100%;
  background: #eee;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 30px 0px;
}
@media (max-width: 768px) {
  .cover {
    padding: 0px;
  }
}
.cover .headlinesWrap {
  padding-bottom: 10px;
}
.cover h1 {
  font-weight: 600;
  margin: 8px 0px;
  font-size: 2em;
}
.cover h2 {
  font-weight: 300;
  font-size: 1.3em;
  margin: 8px 0px;
}
.cover p {
  font-size: 1.1em;
  font-weight: 400;
}
.cover .vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.infoCard {
  background: #fff;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .infoCard {
    box-shadow: 0px 0px 20px 2px rgba(120,120,120,0.1);
  }
}
.infoCard .infoSubheadline {
  background: #f3f3f3;
  padding: 20px 30px;
}
.infoCard .infoSubheadline h1,
.infoCard .infoSubheadline h2,
.infoCard .infoSubheadline p {
  color: #888;
}
.infoCard .infoSubheadline h1 {
  font-weight: 500;
}
.infoCard .infoSubheadline h2,
.infoCard .infoSubheadline p {
  font-weight: 400;
}
.infoCard .infoSubheadline.backgrounded {
  background: #8970ef;
}
.infoCard .infoSubheadline.backgrounded h1,
.infoCard .infoSubheadline.backgrounded h2,
.infoCard .infoSubheadline.backgrounded p {
  color: #fff;
}
.infoCard .actLink {
  background: #8970ef;
}
.infoCard .actLink h1,
.infoCard .actLink h2,
.infoCard .actLink p,
.infoCard .actLink a {
  color: #fff;
}
.infoCard .actLink:hover {
  opacity: 0.9;
}
.infoCard .infoBody {
  padding: 30px;
}
.infoCard .infoBody >.infoHeadline {
  margin: 15px 0px;
}
.infoCard .infoBody >.infoHeadline h1,
.infoCard .infoBody >.infoHeadline h2,
.infoCard .infoBody >.infoHeadline p {
  margin: 5px 0px;
  font-weight: 600;
  color: #333;
}
.infoCard .infoBody >.infoHeadline h1 {
  font-size: 1.8em;
}
.infoCard .infoBody >.infoHeadline h2 {
  font-size: 1.4em;
  padding-bottom: 2px;
  border-bottom: 2px solid #ddd;
}
.infoCard .infoBody h2 {
  font-weight: 600;
  color: #666;
  font-size: 1.6em;
}
.actionBtn:hover {
  background-color: #DC3D3C;  /*button change color*/
  border-color: #DC3D3C;
}
.actionBtn {
  display: block;
  margin: 10px auto;
  max-width: 350px;
  width: 100%;
  background-color: #FA3C3C;
  color: #fff !important;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  border: 2px solid #DC3D3C;
  border-radius: 20px;
  transition: all 0.5s;
  white-space: normal;
}
.inverseBtn {
  background-color: #fff;
  color: #DC3D3C !important;
}
.inverseBtn:hover {
  color: #fff !important;
}
.optionsBtn {
  background-color: #29bb43 !important;
}
.optionsBtn:hover {
  opacity: 0.9;
}
button:focus {
  outline: none !important;
}
@media (max-width: 768px) {
  #topNavbar {
    position: static;
  }
  body {
    padding-top: 0px !important;
  }
}
#topNavbar {
  border: none;
  background: #DC3C3C;  /*v1:  #C13C3C v2:  #463494 */
  margin-bottom: 0px;
}
#topNavbar .leftNav {
  overflow: visible;
  padding: 0px;
  padding-right: 10px;
}
#topNavbar .brandDiv {
  float: left;
  line-height: 100%;
}
#topNavbar .navbar-brand {
  color: #fff;
}
#topNavbar #navbar {
  border: none;
}
#topNavbar .navBtn {
  line-height: 20px;
  background: none;
  border: none;
  position: relative;
  display: block;
  padding: 10px 15px;
  font-weight: 400;
  color: #fff;
}
#topNavbar .navbar-toggle {
  line-height: 30px;
  margin: 9px 0px;
  border: 0px;
  color: #fff;
  padding: 1px 4px;
  margin-left: 5px;
}
#topNavbar #navContainer {
  padding-left: 0px;
}
#topNavbar .navbar-right a,
#topNavbar .navbar-right a:hover {
  color: #fff !important;
}
#topNavbar .navbar-toggle:focus {
  background: none;
}
@media (max-width: 768px) {
  #topNavbar #brand {
    font-size: 1.2em;
  }
}
@media (min-width: 768px) {
  #topNavbar .rightNav {
    float: right;
  }
  #topNavbar .navBtn {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
#topCover {
  background: #FA3C3C;  /*top banner bgcolor v1: #E23C3D, v2: #6e54da*/
  box-shadow: 0px -10px 20px 2px rgba(120,120,120,0.2) inset;
  min-height: initial;
}
#topCover #appTitle {
  color: #fff;
  font-size: 7em;
  margin: 0px;
  padding: 0px;
  font-weight: 100;
  text-align: center;
}
#topCover #appTitle b {
  font-weight: 100;
}
#topCover #appSubtitle {
  color: #fff;
  font-size: 1.8em;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #topCover #appTitle {
    font-size: 6em;
  }
}
.footer {
  background-color: #333;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 3px 0px;
  height: auto;
}
.footer ul li a {
  font-size: 1em;
  color: #fff !important;
}
.footer ul li a:hover {
  color: #eee !important;
}
@media (min-width: 768px) {
  .footer .rightNav {
    float: right;
  }
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding-top: 50px;
  letter-spacing: 0.005em;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
li,
a,
span,
pre {
  font-family: Arial, sans-serif;
  font-weight: 400;
}
p {
  margin: 0px;
}
body {
  background-color: #fff;
}
a {
  color: #DC3D3C;
}
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
  color: #DC3D3C;
}
ul {
  margin: 0px;
}
hr {
  margin: 20px auto;
}
@media (max-width: 768px) {
  .pad-side {
    padding: 0px 10px;
  }
}
@media (max-width: 768px) {
  [class*='col-'] {
    padding: 0px 0px;
  }
}
